# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Large local results files excluded from GitHub
Metrics results/CHV_CHA_SID_SAM_2cm_results/csv/metric_values_by_pixel.csv
Metrics results/CHV_CHA_SID_SAM_CV_5cm_results/csv/metric_values_by_pixel.csv
